@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Work+Sans:wght@300;400;500;600;700&family=Spline+Sans:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif.woff2') format('woff2'),
      url('../fonts/Kollektif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif-Bold.woff2') format('woff2'),
      url('../fonts/Kollektif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




:root {
    --offset: 6px;
    --font-family-primary: "Kollekif"
    --font-family-secondary: "Work Sans" "Spline Sans", "Lora", "Fraunces", serif;
    --font-family-tertiary: "Poppins", "IBM Plex Mono", "Space Mono", monospace;
    --c-text: #011627;
    --c-navy: #011627;
    --c-black: #191717;
    --c-grey: #E9E9E9;
    --c-yellow: #F4E461;
    --c-lilac: #A993DD;
    --c-white: #F6F6F6;
    --c-teal: #21C4D1;
    --c-orange: #ED8D07; 
    --c-pink: #F47EAB;

  }

  
 